* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/a11d44942fbfcfbea6c2995c59eecc40.jpeg);
  background-size: cover;
  background-position: center;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div1 {
  /* background-color: blue; */
  height: 15vh;
  width: 60%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.div1 h1 {
  color: white;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

span {
  color: white;
  font-size: larger;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}



.form {
  height: 190vh;
  width: 50%;
  background-color: red;
  border-radius: 5px;
}

.divA {
  margin: 1.25rem;
  padding: 0.25rem;
}

.divA label{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.divA p{
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.benjamin {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 1.2rem 0.8rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 10px;
  }

.optional{
  color: blue;
  font-size: 1rem;
  padding-left: 5px;
}

.radioInput,
.akande {
  display: inline-block;
  margin-right: 1rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.6rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(14, 118, 14);
  color: white;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

.btn:hover{
  background-color: white;
  color:black;
  font-size: 1rem;
}